<div class="container">
  <div class="sidebar">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let r of radikoRegions">
        <mat-expansion-panel-header>
          <mat-panel-title>{{r}}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let s of radiko[r]" (click)="setStation(s)">{{s.name}}</mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="timetable">
    <mat-form-field>
      <mat-select [(value)]="date" (change)="setDate()">
        <mat-option [value]="day.format('YYYY-MM-DD')" *ngFor="let day of days">{{day | date: 'MM/dd'}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-accordion *ngIf="!loadingProgram">
      <mat-expansion-panel *ngFor="let p of programs">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{p.start| time}} {{p.title}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          {{p.description}}
        </div>
        <div *ngIf="p.reservable">
          <button mat-raised-button (click)="editReserve('single', p)">単発予約</button>
          <button mat-raised-button (click)="editReserve('weekly', p)">毎週予約</button>
          <button mat-raised-button (click)="editReserve('daily', p)">毎日予約</button>
        </div>
        <div *ngIf="!p.reservable">
          <button mat-raised-button (click)="getTimefree(p)">ダウンロード</button>
        </div>

      </mat-expansion-panel>

    </mat-accordion>
    <mat-spinner *ngIf="loadingProgram"></mat-spinner>
  </div>
</div>

