<form (submit)="save()">
  <mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="予約名" name="name" [(ngModel)]="reserve.name" />
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="放送局" [(value)]="reserve.stationId">
        <mat-option *ngFor="let station of stations" [value]="station.id">
          {{station.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="startPicker" placeholder="開始日時" name="start" [(ngModel)]="startDate" />
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="時" [(value)]="startHour">
          <mat-option *ngFor="let hour of hours" [value]="hour">
            {{hour}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="分" [(value)]="startMinute">
          <mat-option *ngFor="let minute of minutes" [value]="minute">
            {{minute}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="endPicker" placeholder="終了日時" name="end" [(ngModel)]="endDate" />
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="時" [(value)]="endHour">
          <mat-option *ngFor="let hour of hours" [value]="hour">
            {{hour}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="分" [(value)]="endMinute">
          <mat-option *ngFor="let minute of minutes" [value]="minute">
            {{minute}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox name="isTimeFree" [(ngModel)]="reserve.isTimeFree">タイムフリーで録音</mat-checkbox>

    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="button" mat-raised-button (click)="delete()" *ngIf="reserve.id">削除</button>
    <button type="submit" mat-button>保存</button>
    <button type="button" mat-button mat-dialog-close>キャンセル</button>
  </mat-dialog-actions>
</form>

