<form (submit)="save()">
  <div mat-dialog-content>
    <mat-form-field class="full">
      <input matInput placeholder="予約名" name="name" [(ngModel)]="reserve.name" />
    </mat-form-field>
    <mat-form-field class="full">
      <mat-select placeholder="放送局" [(value)]="reserve.stationId">
        <mat-option *ngFor="let station of stations" [value]="station.id">
          {{station.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <mat-radio-group [(ngModel)]="repeat" name="repeat">
        <mat-radio-button [value]="false">単発予約</mat-radio-button>
        <mat-radio-button [value]="true">曜日指定予約</mat-radio-button>
      </mat-radio-group>
    </div>

    <div *ngIf="repeat">
      <mat-checkbox name="sun" [(ngModel)]="days[0]">日</mat-checkbox>
      <mat-checkbox name="mon" [(ngModel)]="days[1]">月</mat-checkbox>
      <mat-checkbox name="tue" [(ngModel)]="days[2]">火</mat-checkbox>
      <mat-checkbox name="wed" [(ngModel)]="days[3]">水</mat-checkbox>
      <mat-checkbox name="thu" [(ngModel)]="days[4]">木</mat-checkbox>
      <mat-checkbox name="fri" [(ngModel)]="days[5]">金</mat-checkbox>
      <mat-checkbox name="sat" [(ngModel)]="days[6]">土</mat-checkbox>
    </div>

    <div>
      <mat-form-field *ngIf="!repeat">
        <input matInput [matDatepicker]="startPicker" placeholder="開始日" name="start" [(ngModel)]="startDate" />
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="時" [(value)]="startHour">
          <mat-option *ngFor="let hour of hours" [value]="hour">
            {{hour}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="分" [(value)]="startMinute">
          <mat-option *ngFor="let minute of minutes" [value]="minute">
            {{minute}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field *ngIf="!repeat">
        <input matInput [matDatepicker]="endPicker" placeholder="終了日" name="end" [(ngModel)]="endDate" />
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="時" [(value)]="endHour">
          <mat-option *ngFor="let hour of hours" [value]="hour">
            {{hour}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="分" [(value)]="endMinute">
          <mat-option *ngFor="let minute of minutes" [value]="minute">
            {{minute}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-checkbox name="isTimeFree" [(ngModel)]="reserve.isTimeFree" *ngIf="tsNg === '0' || tsNg === '1'">タイムフリーで録音</mat-checkbox>
      <p *ngIf="tsNg ==='1'">タイムフリー一部未対応</p>
      <p *ngIf="tsNg ==='2'">タイムフリー未対応</p>
    </div>
  </div>
  <div mat-dialog-actions>
    <div>
      <button type="button" mat-raised-button color="warn" (click)="delete()" *ngIf="reserve.id">削除</button>
    </div>
    <div>
      <button type="submit" mat-button>保存</button>
      <button type="button" mat-button mat-dialog-close>キャンセル</button>
    </div>

  </div>
</form>

