.full{
  width: 100%;
}

form{
  height: 30rem;
}

.mat-dialog-actions > div {
  width: 50%;
  display: inline-block;

  &:last-child {
    text-align: right;
  }
}


mat-radio-button, mat-checkbox{
  margin-right: 1rem;
}

.checkbox{
  margin-bottom: 1rem;
}
