<p *ngIf="loading">{{progress}}/{{total}}</p>
<mat-card *ngFor="let r of radikoRegions">
  <mat-card-header>
    <mat-card-title>
      <mat-checkbox (change)="toggleCheck($event, r)" [disabled]="loading">{{r}}</mat-checkbox>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-checkbox [(ngModel)]="s.checked" *ngFor="let s of radiko[r]" [disabled]="loading">{{s.name}}</mat-checkbox>
  </mat-card-content>
</mat-card>

  <button mat-raised-button color="primary" (click)="submit()" [disabled]="loading">再取得</button>

